#subhead {
text-align: center;
// top: 10px;
border: solid white;

}

#subhead2 {
position: absolute;
text-align: center;
top: 37px;
border: solid white;

}

#camt{
    position: absolute;
    left: 65px;
}