<ion-header>
<ion-navbar>

 <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title *ngIf="options">CMU Bus Map</ion-title>
    <ion-title *ngIf="!options">Map</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
  <div id="floating-panel">
    <b>Start: </b>
    {{ start }}
    <select id="start" [(ngModel)]="start" (change)="onChangeHandler()">
      <option [ngValue]="'chicago, il'">Chicago</option>
      <option [ngValue]="'st louis, mo'">St Louis</option>
      <option [ngValue]="'joplin, mo'">Joplin, MO</option>
      <option [ngValue]="'oklahoma city, ok'">Oklahoma City</option>
      <option [ngValue]="'amarillo, tx'">Amarillo</option>
      <option [ngValue]="'gallup, nm'">Gallup, NM</option>
      <option [ngValue]="'flagstaff, az'">Flagstaff, AZ</option>
      <option [ngValue]="'winona, az'">Winona</option>
      <option [ngValue]="'kingman, az'">Kingman</option>
      <option [ngValue]="'barstow, ca'">Barstow</option>
      <option [ngValue]="'san bernardino, ca'">San Bernardino</option>
      <option [ngValue]="'los angeles, ca'">Los Angeles</option>
    </select>
    <b>End: </b>
    {{ end }}
    <select id="end" [(ngModel)]="end" (change)="onChangeHandler()">
       <option [ngValue]="'chicago, il'">Chicago</option>
      <option [ngValue]="'st louis, mo'">St Louis</option>
      <option [ngValue]="'joplin, mo'">Joplin, MO</option>
      <option [ngValue]="'oklahoma city, ok'">Oklahoma City</option>
      <option [ngValue]="'amarillo, tx'">Amarillo</option>
      <option [ngValue]="'gallup, nm'">Gallup, NM</option>
      <option [ngValue]="'flagstaff, az'">Flagstaff, AZ</option>
      <option [ngValue]="'winona, az'">Winona</option>
      <option [ngValue]="'kingman, az'">Kingman</option>
      <option [ngValue]="'barstow, ca'">Barstow</option>
      <option [ngValue]="'san bernardino, ca'">San Bernardino</option>
      <option [ngValue]="'los angeles, ca'">Los Angeles</option>
    </select>
    </div>
Hello World
<div #map id="map"></div> 


</ion-content>


