// .ios, .md {
 
  page-map {
 
    // .scroll-content {
    //   height: 100%
    // }
 
    #map {
      width: 100%;
      height: 100%;
    }
 
//  #floating-panel {
//         position: absolute;
//         top: 15px;
//         // left: 25%;
//         z-index: 5;
//         // background-color: #fff;
//         padding: 19.4px;
//         border: 1px solid #999;
//         text-align: center;
//         font-family: 'Roboto','sans-serif';
//         line-height: 30px;
//         padding-left: 10px;
//       }

   #floating-panel {
// padding-left: 15px;
padding-bottom: 5px;

   }
   #searchpanel {
       position: absolute!important;
       top: 75px;
       left: 70px;
        z-index: 5;
        padding: 5px;
        line-height: 30px;
        padding-left: 4px;
        margin-left: -52px;
   }

   #buttonOnchange{
        position: absolute;
        margin-left: 1px;
        // padding-right: 2px;
        padding-top: 6px;
        padding-bottom: 2px;
        border: solid 1px dodgerblue;
        background-color : #3b5998;
        color : white;

      }

   #drop {
        position: absolute;
        top: 18%;
        left: 18%;
        z-index: 5;
        background-color: #FFF;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
        margin-left: -52px;
      }
      #drop2 {
        position: absolute;
        top: 25%;
        left: 18%;
        z-index: 5;
        background-color: #FFF;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
        margin-left: -52px;
      }
  
      #ionicIcon{
        font-size: 45px;
        position: absolute;
        top: 100px;
        left: 70px;
        z-index: 5;
        padding: 5px;
        line-height: 30px;
        padding-left: 4px;
        margin-left: -52px;
        // background-color: mediumpurple;
        color : #3b5998;
        
      }

      #buildingIcon{
        font-size: 30px;
        position: absolute;
        top: 140px;
        left: 70px;
        z-index: 5;
        padding: 5px;
        line-height: 30px;
        padding-left: 10px;
        margin-left: -52px;
        // background-color: beige;
        color : #3b5998;
        
      }

      #sportfIcon{
        font-size: 30px;
        position: absolute;
        top: 175px;
        left: 70px;
        z-index: 5;
        padding: 5px;
        line-height: 30px;
        padding-left: 10px;
        margin-left: -52px;
        // background-color: lightgrey;
        color : #3b5998;
        
        
      }

      #coffeeIcon{
        font-size: 30px;
        position: absolute;
        top: 225px;
        left: 70px;
        z-index: 5;
        padding: 5px;
        line-height: 30px;
        padding-left: 10px;
        margin-left: -52px;
        color : #3b5998;
        
      }

      #restaIcon{
        font-size: 30px;
        position: absolute;
        top: 275px;
        left: 70px;
        z-index: 5;
        padding: 5px;
        line-height: 30px;
        padding-left: 10px;
        margin-left: -52px;
        color : #3b5998;
        
      }

      #dormIcon{
        font-size: 30px;
        position: absolute;
        top: 325px;
        left: 70px;
        z-index: 5;
        padding: 5px;
        line-height: 30px;
        padding-left: 10px;
        margin-left: -52px;
        color : #3b5998;
        
      }

      #landIcon{
        font-size: 30px;
        position: absolute;
        top: 375px;
        left: 70px;
        z-index: 5;
        padding: 5px;
        line-height: 30px;
        padding-left: 12px;
        margin-left: -52px;
        color : #3b5998;
        
      }

      #carIcon{
        font-size: 30px;
        position: absolute;
        top: 425px;
        left: 70px;
        z-index: 5;
        padding: 5px;
        line-height: 30px;
        padding-left: 10px;
        margin-left: -52px;
        color : #3b5998;
        
      }

      #atmIcon{
        font-size: 30px;
        position: absolute;
        top: 475px;
        left: 70px;
        z-index: 5;
        padding: 5px;
        line-height: 30px;
        padding-left: 12px;
        margin-left: -52px;
        color : #3b5998;
        
      }

      #locate{

        font-size: 30px;
        position: absolute;
        top: 50px;
        right: 20px;
        z-index: 5;
        padding: 5px;
        line-height: 30px;
        padding-left: 12px;
        margin-left: -52px;
        color : #3b5998;

      }

      #divbuild{
        background-color: yellow;
        border: solid #000;
      }
      

      h6{
        color: black;
      }

      .ng-valid{
      width: 110px;
      }

      

  }
 
// }