<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title><h3>Menu</h3></ion-title>
      <span id="namee" style="float: right" *ngIf="user"> {{ user.name }} </span>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <div *ngFor="let page of pages">
      <button menuClose ion-item (click)="openPage(page)" *ngIf="(page.hide === 'login' && !user) || page.hide !== 'login'">
            {{ page.title }}
        </button>
    </div>

    <div *ngFor="let pagee of pagess">
      <button  *ngIf="user" menuClose ion-item (click)="openPage(pagee)">
      <!--*ngIf="user"  Add this static button for logout-->
        {{ pagee.title }}
      </button>
    </div>

    <button *ngIf="user" ion-item (click)="logoutApp()">
      <!--Add this static button for logout-->
        Log Out
      </button>

  </ion-list>
</ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>