 <!--<script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
<link rel="stylesheet" href="../../../node_modules/jquery-skeduler/jquery.skeduler.css">

<script src="../../../node_modules/jquery-skeduler/jquery.skeduler.js"></script>
<script src="./testmap.ts"></script>-->


<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><h3><ion-icon ios="ios-list-box" md="md-list-box"></ion-icon> {{user?.name}}</h3></ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

<h6>List Schedule</h6>

<table id="fff">
    <tr id="eee">
  <th id="aaa" *ngFor="let header of headers" >
    {{header.name}}
  </th> 
  <th id="aaa">Delete</th>
</tr>
  <tr  *ngFor="let a of allsche ; let i = index" >
     <td id="aaa">{{i+1}}</td>
     <td id="aaa">{{Days[a.day-1]}}</td>
     <td id="aaaN">{{a.courseName}}</td>
     <td id="aaa">{{a.start}}</td>
     <td id="aaa">{{a.end}}</td>
     <!--<td id="aaa">{{a.place_id}}</td>-->
     <td id="aaa">RB5</td>     
     <td id="aaa"><button (click)="delete(a.id)">Del</button></td>
  </tr>
</table>

<div id="button">
  <button ion-button (click)="goAdd()" class="md-raised md-primary">Add Schedule</button>
  
  <button ion-button (click)="toggle()" class="md-raised md-primary">View Schedule</button>  
</div>

    
    <angular2-fullcalendar  *ngIf="toggled" [options]="calendarOptions"></angular2-fullcalendar>
  



</ion-content>
