<!--
  Generated template for the Schedule page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><h3><ion-icon ios="ios-list-box" md="md-list-box"></ion-icon> Add Schedule</h3></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>{{user?.name}}</p>
{{credentials.courseName}}
  <ion-item>
    <ion-label fixed>Subject </ion-label>
    <ion-input type="string" [(ngModel)]="credentials.courseName"></ion-input>
  </ion-item>

  <!--<ion-item>
    <ion-label fixed>Description</ion-label>
    <ion-input type="string" value=""></ion-input>
  </ion-item>-->
{{credentials.day}}
  <ion-item>
    <ion-label fixed>Day</ion-label>
    <ion-select id="day" [(ngModel)]="credentials.day">
      <ion-option [value]="1" >Monday</ion-option>
      <ion-option [value]="2">Tuesday</ion-option>
      <ion-option [value]="3">Wednesday</ion-option>
      <ion-option [value]="4">Thursday</ion-option>
      <ion-option [value]="5">Friday</ion-option>
      <ion-option [value]="6">Saturday</ion-option>
      <ion-option [value]="7">Sunday</ion-option>
    </ion-select>
  </ion-item>

{{credentials.start}}
  <ion-item>
    <ion-label fixed>Time start </ion-label>
    <ion-input placeholder="00:00" type="time" [(ngModel)]="credentials.start"></ion-input>
  </ion-item>

{{credentials.end}}
  <ion-item>
    <ion-label fixed>Time end </ion-label>
    <ion-input placeholder="00:00" type="time" [(ngModel)]="credentials.end"></ion-input>
  </ion-item>


<ion-item>
    <ion-label>Place Types</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="onChange(type)">
      <ion-option [value]="'building'" selected="true">Building</ion-option>
      <ion-option [value]="'sportField'">Sport Field</ion-option>
      <ion-option [value]="'cafe'">Cafe</ion-option>
      <ion-option [value]="'carParking'">Car Parking</ion-option>
      <ion-option [value]="'landmark'">Landmark</ion-option>
      <ion-option [value]="'dormitory'">Dormitory</ion-option>
      <ion-option [value]="'restaurant'">Restaurant</ion-option>
      <ion-option [value]="'ATM'">ATM</ion-option>
    </ion-select>
  </ion-item>
 
<!--<label>Placeeeeeeee</label>
<select [(ngModel)]="end" (Change)="onChange()">
      <option *ngFor="let p of listq" value="{{p.id}}">{{p.name}}</option>
</select>-->

  <ion-item>
    <ion-label>Place</ion-label>
    <ion-select [(ngModel)]="name" (ionChange)="onChangeId(name)">
      <ion-option *ngFor="let p of listN" value="{{p.name}}">{{p.name}}</ion-option>
    </ion-select>
  </ion-item>


<div padding>
  <button ion-button color="gray" (click)="add()">Add</button>
  <button ion-button color="gray">Cancel</button>
</div>

</ion-content>
