
#eee {
  background-color:lightgrey;
  
}

#eee {
  border: solid 1px grey;
  
//   border-bottom-style: none;
//   border-right-style: none;
}

#fff{
width:100%!important;

}

#aaa {
  border: solid 1px grey;
  text-align: center;
//   border-bottom-style: none;
//   border-right-style: none;
}

#aaaN {
  border: solid 1px grey;
  text-align: center;
  max-width: 100px;
//   border-bottom-style: none;
//   border-right-style: none;
}

.col:last-child {
  border-right: solid 1px grey;
}

.row:last-child .col {
  border-bottom: solid 1px grey;
}
