<ion-header>

  <ion-navbar>
     <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h3>
        <ion-icon ios="ios-list-box" md="md-list-box"></ion-icon> Schedule
      </h3>
      </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

<h6>List Schedule</h6>

<table id="fff">
    <tr id="eee">
  <th id="aaa" *ngFor="let header of headers" >
    {{header.name}}
  </th> 
  <th id="aaa">Delete</th>
</tr>
  <tr  *ngFor="let a of allsche ; let i = index" >
     <td id="aaa">{{i+1}}</td>
     <td id="aaa">{{Days[a.day-1]}}</td>
     <td id="aaaN">{{a.courseName}}</td>
     <td id="aaa">{{a.start}}</td>
     <td id="aaa">{{a.end}}</td>
     <td id="aaa">{{a.place_id}}</td>
     <td id="aaa"><button (click)="delete(a.id)">Del</button></td>
  </tr>
</table>

<div id="button">
  <button ion-button class="md-raised md-primary">Add Schedule</button>
  <button ion-button class="md-raised md-primary">View Schedule</button>  
</div>
        
    

</ion-content>
